{% extends 'base.html' %}
{% load filenamecut %}

{% block head %}
    <meta charset="UTF-8">
    <title>文件列表 - Leon.Fu</title>
{% endblock %}

{% block body %}

    <table class="table table-striped table-hover">
        <tr>
        <th>序号</th>
        <th>文件名</th>
        <th>描述</th>
        <th>大小</th>
        <th>上传时间</th>
        <th>上传者</th>
        <th>下载次数</th>
        <th>操作</th>
        </tr>

        {% for f in filelist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ f.file|filenamecut }}</td>
                <td>{{ f.description }}</td>
                <td>{{ f.size }}</td>
                <td>{{ f.uptime }}</td>
                <td>{{ f.author.name }}</td>
                <td>{{ f.downsum }}</td>
                <td>
                    {% if f.author.id == current_user %}
                    删除 隐藏
                    {% endif %}
                    <span class="down"><a href="download/file={{ f.file }}">下载</a></span>
                </td>
            </tr>
        {% endfor %}


    </table>
    <br>

    <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}


  <input class="form-control" type="file" id="formFile" name="file">
  <textarea class="form-control" id="description" name="description" placeholder="请输入文件描述" rows="3"></textarea>



        <input type="submit" id="upload" class="button" data-micron="pop" value="上传">
        <p class="tips"></p>

    </form>

    <div>
        <a href="/usercenter" class="button" data-micron="Flicker">用户中心</a>
    </div>


{% endblock %}

